<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Classement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styleJoueur.css" type="text/css" rel="stylesheet">
</head>
<body>

    <header th:replace="~{fragments :: header}">
    </header>

    <nav th:replace="~{fragments :: menu(classement)}">
    </nav>
    <article id="articleClassement">
    <h1>Voici le classement des joueurs</h1>
    <p>Nous vous rappelons qu'aucune somme d'argent n'est mise en jeu. Ce jeu est uniquement a but de divertissement.</br>
       <b>Voici le classement des joueurs inscrits a notre jeu:</b></p>
       <table id="classement" cellspacing="0">
         <tr class="hautTableau">
            <th>Classement</th>
            <th>Utilisateur</th>
		    <th>Score</th>
		</tr>
		<tr th:each="user : ${userList}" th:class="${user.name.equalsIgnoreCase(userName)} ? 'currentUser':''">
		    <td class="classement" th:text="${userStat.count}"></td>
	    	<td class="classement" th:text="${user.name}">1</td>
		    <td th:text="${user.score}"></td>
		</tr>
	   </table>
    </article>

</body>
</html>